<a href="https://colab.research.google.com/github/PauloSanchez/Data_science_UL/blob/main/Desaf%C3%ADo_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Analisis exploratorio

In [33]:
#Importar librerias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import matplotlib.patches as mpatches
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [34]:
filename = '/content/drive/MyDrive/Colab Notebooks/Archivos ejercicios/abalone.data.csv'
df = pd.read_csv(filename)
df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4177 non-null   object
 1   Length          4177 non-null   float64
 2   Diameter        4177 non-null   float64
 3   Height          4177 non-null   float64
 4   Whole weight    4177 non-null   float64
 5   Shucked weight  4177 non-null   float64
 6   Viscera weight  4177 non-null   float64
 7   Shell weight    4177 non-null   float64
 8   Rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

Al mirar los tipos de datos aparentemente estan todos OK y no se ven datos nulos.

In [36]:
valid=df.drop_duplicates()
valid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4177 non-null   object
 1   Length          4177 non-null   float64
 2   Diameter        4177 non-null   float64
 3   Height          4177 non-null   float64
 4   Whole weight    4177 non-null   float64
 5   Shucked weight  4177 non-null   float64
 6   Viscera weight  4177 non-null   float64
 7   Shell weight    4177 non-null   float64
 8   Rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 326.3+ KB

No hay valores dupliados en el set de datos.

#Modelo KNN de clasificación

In [45]:
#Lo primero es definir las variables que ayudarán a predecir la edad a partir de mediciones fisicas.
#Libreria para el preprosesamiento de datos KNN con Sklearn
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split


X = df.loc[:,['Length','Diameter', 'Height','Whole weight','Shucked weight','Viscera weight', 'Shell weight', 'Rings']]
y = df.loc[:,['Sex']].values

#Preguntar a Jesus por esto para entender bien que hace.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=0)

#Se deben escalar siempre los datos.
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Ajusta en X 
scaler.fit_transform(X)

# Transform X
X = scaler.transform(X);

#Debemos definir K que es la cantidad de vecinos para el modelo.
knn = KNeighborsClassifier(n_neighbors=3)

#el modelo debe aprender la relacion entre X e Y
knn.fit(X, y)

#Podemos predecir la clasificación que necesitamos.
prediction = knn.predict(X)

# calcular la precisión de la clasificación
score = knn.score(X, y)
score

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.7419200383050036

array([['M'],
       ['M'],
       ['F'],
       ...,
       ['M'],
       ['F'],
       ['M']], dtype=object)