<a href="https://colab.research.google.com/github/PauloSanchez/Data_science_UL/blob/main/Proyecto_1_parte_2_Paulo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_predictions.csv')
df.head()

In [ ]:
#Analisis exploratorio para saber si hay datos Nan y los tipos de datos que tenemos en cada columna.
df.info()
#Como se observa la columna item weight tiene NaN, por lo que debemos revisar cuale y cuantos son y de que manera procedemos a completar o eliminar de la data.

In [ ]:
#Definiremos aquellos que son nulos y los que no, para ver que correlación hay con otras columnas del DF.
nulos=df[df.Outlet_Size.isnull()]
nulos

In [ ]:
nulos.groupby(['Outlet_Identifier'])[['Outlet_Size']].count()
#Se observan que solo tres sucursales no tienen el dato.

In [ ]:
#Identificar los que no son nulos, filtrando
nonulos=df[df.Outlet_Size.notnull()]
nonulos

In [ ]:
nonulos.groupby(['Outlet_Size','Outlet_Identifier'])[['Outlet_Size']].count()

#La columna Outlet_Size, tiene NaN pero es por que hay tres sucursales de outlet cuyo Outlet_Identifier, no reportan en ninguna fila un valor para la columna mencionada inicialmente, por lo que se determina dejar en blanco y no utilizar el tamaño sino, más bien el identificador de la sucursal.

In [ ]:
#Se procede a explorar la columna de numeros enteros denominada "Item_Weight", para determinar que se hará con los datos.

weightnull=df[df.Item_Weight.isnull()]
weightnull

In [ ]:
#Se procede a explorar la columna de numeros enteros denominada "Item_Weight", para determinar que se hará con los datos.

weightnotnull=df[df.Item_Weight.notnull()]
weightnotnull.head()

In [ ]:
filtroitem=df['Item_Identifier']=='DRI11'
filtroitem
df1=df.loc[filtroitem, :]
df1

#Se aprecia que al filtrar un Item_identifier, el peso del item es el mismo dado que el identifier es el codigo del producto y el peso obviamente es el mismo, por lo que con el promedio de estos excluyendo los nulos podré obtener el valor a reemplazar.

In [ ]:
weightnotnull.groupby(['Item_Identifier'])[['Item_Weight']].mean()

In [246]:
df11=df

In [247]:
#Función para rellenar NaN con un groupby en pandas

def rellenar_nan(x):
  ids = set(x.dropna())
  if not ids:
    # Conjunto vacío, nada que hacer
    print(x.name, "era todo NaN")
    return x
  if len(ids)>1:
    # Posible problema si además contiene Nan
    if sum(x.isnull()) > 0:
      print("Cuidado!", x.name, "tiene varias posibilidades", ids)
  # Extraemos uno de los elementos del conjunto y lo usamos para rellenar  
  id = ids.pop()
  return x.fillna(id)

In [ ]:
df11.loc[:, "Item_Weight"] = \
   df11.groupby("Item_Identifier")["Item_Weight"].apply(rellenar_nan)

In [ ]:
df11.loc[:, "Outlet_Size"] = \
   df11.groupby("Outlet_Identifier")["Outlet_Size"].apply(rellenar_nan)

In [ ]:
df11.info()

In [251]:
#Porcentajes de NaN restantes en Item_Weight
import numpy as np
Completo=df11['Item_Identifier'].count()

NaN=df11['Item_Weight'].isnull().sum(axis=0) # Cuenta los datos NaN en la columna.

#Entonces el porcentaje es:

Percent=NaN/Completo
p=Percent*100
print('El total de NaN dentro del DataFrame representa el',p,'%')

El total de NaN dentro del DataFrame representa el 0.04693183151472486 %

Se observa que no se pueden eliminar todos los nulos puesto que hay 4 filas que no se rellenan, dado que todo era NaN, por lo que al mirar que los NaN solo representan el 0.05% aprox, se define eliminar de la data esas filas, pues no hay como rellenarlas. Por ultimo debemos hacer lo mismo para la columna Outlet_Size.

In [252]:
#Porcentajes de NaN restantes en Outlet_Size
import numpy as np
Completo1=df11['Item_Identifier'].count()

NaN1=df11['Outlet_Size'].isnull().sum(axis=0) # Cuenta los datos NaN en la columna.

#Entonces el porcentaje es:

Percent1=NaN1/Completo1
p1=Percent1*100
print('El total de NaN dentro del DataFrame representa el',p1,'%')

El total de NaN dentro del DataFrame representa el 28.27642848762173 %

In [ ]:
#Rellenar una columna con NaN al valor 'No definido'

values = {"Outlet_Size": 'No definido'} #Se debe crear un diccionario para reemplazar en la columna
df11=df11.fillna(value=values)
df11.info()

Se relleno todos los tamaños de outlet por la frase 'No definido' dado que no tenemos otros Outlet_Identifier de donde obtener la data y la cantidad de filas supera el 10% del total.

In [ ]:
#Eliminar las 4 filas restantes con NaN

df11=df11.dropna()
df11.info()

Con esto se termina de limpiar y ordenar la base de datos!! fueron 9 horas de trabajo!!! jajaja